* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  position: absolute;
  width: 100%;
  color: red;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.navbar nav a {
  color:white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("photo\ 1.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  text-align: center;
}

.search-box {
  display: flex;
  background:red;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}

.search-box select,
.search-box input {
  padding: 12px;
  border: none;
  outline: none;
}

.search-box button {
  background: #e23744;
  color:white;
  border: none;
  padding: 12px 20px;
}

/* OPTIONS */
.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
/* Make cards clickable */
.card,
.food-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Pop effect on hover */
.card:hover,
.food-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


/* INSPIRATION */
.inspiration {
  padding: 40px;
  text-align: center;
}



.food-card {
  text-align: center;
}

.food-card img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}
.food-categories {
  display: flex;              
  flex-wrap: nowrap;          
  gap: 20px;                  
  justify-content: center;    
  padding: 10px;
}




/* APP */
.app {
  padding: 40px;
  
background-color: rgb(244, 127, 127) !important;
  text-align: center;
}



.app-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}



.app-input input {
 padding: 10px;
  width: 260px;
}

.app-input button {
  padding: 10px 15px;
  background: #e23744;
  color: white;
  border: none;
}

.store {
  display: flex;             
  justify-content: center;    
  gap: 20px;                 
  margin-top: 20px;
}

.store img {
  width: 180px;            
  height: auto;               
  cursor: pointer;            
  transition: transform 0.3s;
}

.store img:hover {
  transform: scale(1.05);    
}


/* LOGIN */
.login {
  padding: 40px;
  text-align: center;
}

.login input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

.login button {
  padding: 10px 20px;
  background: #e23744;
  color: white;
  border: none;
}
 footer {
      background-color: rgb(244, 127, 127) !important;
      color: black;
      text-align: center;
      padding: 20px 10px;
    }

/* MOBILE */
@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }
}


